body{
    margin: 0;
    padding: 0;
}


main{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "aside"
    "footer";
    grid-auto-rows: 20vh;
}


@media (min-width: 800px) {
    main {
        grid-template-areas: 
        "header header header"
        "nav article aside"
        "footer footer footer";
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 15vh auto 10vh;
    }
}

main2 {
    display: grid;
    text-align: center;
    grid-template-columns: 
    "article1 article2 article3";
    grid-template-columns: 150px 150px 150px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    justify-content: center;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}
@media (min-width: 800px) {
    main2 {
    grid-template-areas:
    "article1 article2 article3";
    grid-template-columns: 150px 150px 150px ;
    align-content: center;
    }
}

#hoved-overskrift {
    grid-area: header;
    text-align: center;
    padding-top: 35px;
    font-size: 50px;
    background-color: ddbea9;
    margin-top: -20px;
    margin-bottom: 0px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.1em;

}

.overskrift2 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    letter-spacing: 0.1em;
}

#beskrivelse {
    margin-top: 2em;
    margin-left: 20vh;
    margin-right: 20vh;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
}

nav {
    grid-area: nav;
}

.myOL {
    margin-left: 15em;
    margin-right: 15em;
    font-family: 'Acme', sans-serif;
    line-height: 2em;
}

article {
    grid-area: article;
    background-color: ffe8d6;

}

.liste {
    margin-left: 15em;
    margin-right: 10em;
    font-family: 'Acme', sans-serif;
    line-height: 2em;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    background-color: ddbea9;
    text-align: center;
}

#billede {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    border-radius: 50px;
}

#billede-tekst1 {
    text-align: center;
    justify-content: center;
    font-family: 'acme', sans-serif;
}

#billede-tekst2 {
    margin-left: 48%;
    margin-right: 52%;
    
}